.board {
    background-color: $color-light;
    padding: 3rem 1rem;
    &__table {
        margin: 0 auto;
    }
}
.cell {
    width: 1rem;
    height: 1rem;
    border: 1px solid $color-grey-dark;
    &--alive {
        background-color: #ff7109;
    }
}
