//FONTS
$default-font-size: 1.6rem;

//COLORS
$default-text-color: #1e1e1e;

$color-grey-dark: #2d2d2d;
$color-grey-dark-2: #484848;
$color-grey-light: #00aa88;

$color-light: #f5f5f5;

$color-green-light: #2ecc71;
